/* #region assets */

/* colors */
:root{
    --debug-bg-header:#add8e6;
    --debug-bg-title:#daa520;
    --debug-bg-navbar:#00008b;
    --debug-content-navbar:#ee82ee;
    --debug-bg-section:#ffffff;
    --debug-bg-section-reverse:#d3d3d3;
    --debug-primary:#1e90ff;
    --debug-secondary:#ffc0cb;
    --debug-tertiary:#228b22;
    --debug-bg-footer:#23272a;
    --debug-main-footer:#f08080;
    --debug-section-footer:#20b2aa;
    --debug-main-credits:#7fffd4;
    --debug-bg-logo-button:#ffb6c1;
}

/* generic */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subcontainer{
    width: 70%;
    display: flex;
}

#section-nav{
    height: 380px;
}

.section{
    height: 400px;
}

.main


/* #region debug */

/* header */
.debug-header{
    background-color: var(--debug-bg-header);
}

.debug-title-container{
    background-color: var(--debug-bg-title);
}

.debug-title-section{
    border: 1px dashed black;
}

.debug-navbar{
    background-color: var(--debug-bg-navbar);
}

.debug-content-navbar{
    background-color: var(--debug-content-navbar);
    border:1px dashed black
}

.debub-osection{
    background-color: var(--debug-bg-section);
}

/* #header */

.title{
height: 45px;

}

.title-region{
    height: 70%;
}

.title-section{
    display: flex;
    align-items: center;
}

.title-logo{
    width: 25%;
    justify-content: flex-start;
}

.title-links{
    width: 50%;
    justify-content: space-evenly;
}

.title-login{
    width: 25%;
    justify-content: flex-end;
}

.title-links>a{
    color: black;
    text-decoration: none;
}

/* #nav */

.content-navbar{
    width: 60%;
    height: 90%;
}

/* #main */
